body {
  margin: 20px;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.chat {
  border: 1px solid #ddd;
  width: 350px;
  height: 450px;
  border-radius: 4px;
  overflow: hidden;
  margin-left: 50px;
}

.head {
  background: #2d3436;
  padding: 10px;
  border-bottom: 1px solid #ccc;
  font-weight: 600;
  color: #f5f5f5;
}

.messages {
  height: 342px;
  overflow-y: auto;
  padding: 15px 10px;
}

.msg {
  border: 1px solid #ddd;
  padding: 7px 15px;
  border-radius: 20px;
  font-size: 13px;
  background: #dfe6e9;
  margin-bottom: 20px;
  width: 80%;
  float: left;
}

.msg.dark {
  float: right;
  background: #00cec9;
}

.footer {
  display: flex;
  border-top: 1px solid #ddd;
}

input {
  padding: 10px;
  width: 290px;
  border: 0;
  margin-right: 10px;
}

input:focus {
  outline: none;
}

.footer img {
  cursor: pointer;
}